@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h4>Income and Expense - @DateTime.Now.ToString("MMM/yyyy")</h4>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
           <h2 id="lblBalance" class="text-primary balance"></h2>
       </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="chtIncomeExpense" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-body">
                    <canvas id="chtCategoryIncomeExpense" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            var colors = ['#007bff', '#EC1E27'];
            var balance;

            $.ajax({
                url: "/api/home/GetBalance",
                type: "get",
                success: function (result) {
                    $('#lblBalance').html("Balance - " + result);
                }
            });

            $.ajax({
                url: "/api/home/Get",
                type: "get",
                success: function (result) {
                    chartData = result;
                    console.log(chartData[0]);
                    console.log(chartData[1]);
                                        
                    console.log(balance);
                    var chBar = document.getElementById("chtIncomeExpense");
                    var chartData = {
                        labels: ["Income", "Expense"],
                        datasets: [{
                            data: result,
                            backgroundColor: colors
                        }
                        ]
                    };

                    if (chBar) {
                        new Chart(chBar, {
                            type: 'bar',
                            data: chartData,
                            options: {
                                scales: {
                                    xAxes: [{
                                        barPercentage: 0.4,
                                        categoryPercentage: 0.5
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                },
                                legend: {
                                    display: false
                                }
                            }
                        });
                    }

                }
            });

            $.ajax({
                url: "/api/home/GetCategoryWiseInocmeExpense",
                type: "get",
                success: function (result) {

                    console.log(result);
                    

                    var category = [];
                    for (var i = 0; i < result.length; i++) {
                        category.push(result[i].category[0].name);
                    }

                    console.log(category);
                    var amount = [];
                    var bgColors = [];
                    for (var j = 0; j < result.length; j++) {
                        amount.push(result[j].total);
                        bgColors.push(getRandomColor());
                    }
                    console.log(amount);
                    var chBarCategoryIncomeExpense = document.getElementById("chtCategoryIncomeExpense");
                    var chartDataCategoryIncomeExpense = {
                        labels: category,
                        datasets: [{
                            data: amount,
                            backgroundColor: bgColors
                        }
                        ]
                    };

                    if (chBarCategoryIncomeExpense) {
                        new Chart(chBarCategoryIncomeExpense, {
                            type: 'bar',
                            data: chartDataCategoryIncomeExpense,
                            options: {
                                scales: {
                                    xAxes: [{
                                        barPercentage: 0.4,
                                        categoryPercentage: 0.5
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                },
                                legend: {
                                    display: false
                                }
                            }
                        });
                    }

                }

            });

           

        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }




    </script>

}
